body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

#particles-js{
  background:#010215;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 500px;
}

.download{
  background-image: url('library.jpeg');
  background-attachment: fixed;
  min-height: 500px;
  opacity:0.90;
  background-repeat: no-repeat;
  background-position: center;
}

.section{
  text-align: center;
  width: 100%;
  position: absolute;
  background-color: #f4f4f4;
  opacity: 0.7;
}

.ptext{
  font-size: 40px;
  font-weight: bold;
  color: #13a5f9;
  letter-spacing: 5px;
}

.section2{
  background-color: #f4f4f4;
  border-bottom: #50bb7c 3px solid;
  border-top: #50bb7c 3px solid;
  height: 150px;
  opacity:0.80;
}

.box{
  padding-top: 40px;
}
